:root{
    --primaryColor:rgb(100,100,100);
    --secondaryColor:white;
}

.container{
    margin:auto auto;
    height:90vh;
    width:95vw;
}

.time{
    font-size:10vw;
    text-align: center;
    
}

#timer{padding:15vh 10vw;}

#notifications{
    width:100%;
}
.notification{
    width:50%;
    font-size:80px;
    text-align: center;
    margin:0 auto;
}

#fullscreenButton{
    position: static;
    right:0;
    top:0;
}

body{
    font-family: endzone,Arial, Helvetica, sans-serif;
    color:var(--primaryColor);
    background-color: var(--secondaryColor);
}

@font-face {
    font-family: endzone;
    src: url(../media/fonts/EndzoneSans-Medium.otf);
  }
  
#app{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

.timeSection{
    display:inline-block;
    text-align: center;
    font-size: 10vw;
}
#timerValueLabel{
    width: 175px;
    height: 55px;
    font-size: 2.5vw;
}
#timerValueMinute,#timerValueSecond{
    width: 50px;
    height: 55px;
    font-size: 2.5vw;
}


#btnStartTimer{
    background: none;
    width: 175px;
    font-size: 28px;
    height: 60px;
    vertical-align: bottom;
    color: var(--secondaryColor);
    border-color: var(--primaryColor);
    border: 1px solid;
}
.buttons{
    float:right;
}
.buttons i{
    display: block;
    font-size: 2.5vw;
}
.timer{
    width: 21vw;
    display: inline-block;
    margin:5vw;
}
.timerLabel{
    text-align: center;
    font-size: 4vw;
}
.timer .timeSection{
    font-size: 5vw;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    overflow-x: hidden;
    transition: 0.5s;
    opacity: .9;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  /* .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  } */
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  .overlay.show{
      width:100vw;
  }

  .actionIcon{
      font-size:3vw;
      text-decoration: none;
  }

  #dateContent{
      font-size: 5vw;
      text-align: center;
  }

  #clockSecond{
      width:14vw;
  }

  #addTimerOptions{
      text-align: center;
  }

  .timerValues{
    width: 80%;
    display: inline-block;
  }

  .invisible{
      visibility: hidden;
  }

  .navMenuRow{
      width:100%;
      text-align:center;
      margin:10px;
  }

  #themeSelect{
    min-width:50px;
    padding:10px;
  }