:root{
    --primaryColor:rgb(100,100,100);
    --secondaryColor:white;
}

.container{
    margin:auto auto;
    height:90vh;
    width:95vw;
}

.time{
    font-size:10vw;
    text-align: center;
    
}

#timer{padding:15vh 10vw;}

#notifications{
    width:100%;
}
.notification{
    width:50%;
    font-size:80px;
    text-align: center;
    margin:0 auto;
}

#fullscreenButton{
    position: static;
    top: 5vh;
    right: 5vw;
    position: absolute;
}

body{
    font-family: endzone,Arial, Helvetica, sans-serif;
    color:var(--primaryColor);
    background-color: var(--secondaryColor);
}

body.alt{
    color:var(--secondaryColor);
    background-color: var(--primaryColor);
}

#app{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    display:flex;
    align-items:center;
    justify-content:center;
}

body.alt #app{
    color:var(--secondaryColor);
    background-color: var(--primaryColor);
}

@font-face {
    font-family: endzone;
    src: url(../media/fonts/EndzoneSans-Medium.otf);
  }
  
#app{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    display:flex;
    align-items:center;
    justify-content:center;
}

.timeSection,.colonDelimiter{
    display:inline-block;
    text-align: center;
    font-size: 14vw;
}
#clockMeridium{
  font-size: 8vw;
  position: relative;
  top: -25px;
}
#clockHourDigit1,#clockHourDigit2,#clockMinuteDigit1,#clockMinuteDigit2,#clockSecondDigit1,#clockSecondDigit2{
  width:7vw;
}
.colonDelimiter{
  position:relative;
  top:-18px;
  width:3vw;
}
#clockHour{
  text-align: right;
}
#timerValueLabel,#stopwatchValueLabel{
    width: 175px;
    height: 55px;
    font-size: 2.5vw;
}
#timerValueMinute,#timerValueSecond{
    width: 50px;
    height: 55px;
    font-size: 2.5vw;
}


#btnStartTimer,#btnStartStopWatch{
    background: none;
    width: 250px;
    font-size: 28px;
    height: 60px;
    vertical-align: bottom;
    color: var(--secondaryColor);
    border-color: var(--primaryColor);
    border: 1px solid;
}

.buttons{
    text-align:center;
}
.buttons i{
    display:inline-block;
    font-size:2.5vw;
    padding:0 1vw;
}
.timer{
    width: 23vw;
    display: inline-block;
    margin:3vw;
}
.timerLabel{
    text-align: center;
    font-size: 4vw;
}
.timer .timeSection{
    font-size: 5vw;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    overflow-x: hidden;
    transition: 0.5s;
    opacity: .9;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  /* .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  } */
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  .overlay.show{
      width:100vw;
  }

  .actionIcon{
      font-size:5vw;
      text-decoration: none;
      cursor: pointer;
  }

  #dateContent{
      font-size: 5vw;
      text-align: center;
  }

  

  #addTimerOptions,#addStopWatchOptions{
      text-align: center;
  }

  .timerValues{
    width:100%;
    display:inline-block;
    text-align:center;
  }

  .invisible{
      visibility: hidden;
  }

  .navMenuRow{
      width:100%;
      text-align:center;
      margin:15px;
  }

  #themeSelect{
    min-width:50px;
    padding:10px;
  }

  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: -10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .timerbutton{
    cursor: pointer;
  }

  html{
    cursor: default;
  }

  .MZ{
    --primaryColor:#005A43;
    --secondaryColor:#c7924c;
  }

  #mainNavIcon,#fullscreenButton,.buttons{
    transition: opacity 1s ease-in-out ;
    opacity:0;
  }
  #mainNavIcon.show,#fullscreenButton.show,.buttons.show{
    opacity:1;
  }

  #timersSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }